body {
	margin: 0;
	font-family: "quicksand";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas,
		'Courier New', monospace;
}

.container {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
}

.notes-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@media screen and (max-width: 460px) {
	.notes-list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
	}
}

.notes-list .link {
	text-decoration: none;
	color: #121113;
}

.note.new {
	background-color: #67d7cc;
}

textarea {
	border: none;
	resize: none;
	/* background-color: #67d7cc; */
}

textarea:focus {
	outline: none;
}

.save {
	font-family: poppins;
	background-color: #e1e1e1;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
	transition: .3s;
}

.save:hover {
	opacity: 1;
	background-color: #fef68a;
	cursor: pointer;
}

.note {
	background-color: #fef68a;
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.delete-icon {
	padding: 5px;
	border-radius: 8px;
	border: solid black 1px;
	cursor: pointer;
}

.delete-icon:active,
.delete-icon:hover {
	background-color: #19834e;
	color: #fef68a;
}

.search {
	display: flex;
	align-items: center;
	background-color: rgb(233, 233, 233);
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 1.5em;
}

.search input {
	font-family: 'poppins';
	border: none;
	background-color: rgb(233, 233, 233);
	width: 100%;
	margin-left: 8px;
}

.search input:focus {
	outline: none;
}


/* Create Note */
.dark-mode .create_blog article input,
.dark-mode .create_blog article textarea {
	background-color: #000000;
	color: #ffffff;
}

.create_blog {
	font-family: 'Quicksand';
	/* background-color: #121113; */
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0 20px 0;
}

.create_blog article input {
	font-family: 'Quicksand';
	border: none;
	outline: none;
	height: 43px;
	width: 100%;
	font-size: 35px;
	font-weight: 400;
	margin-bottom: 20px;
	/* color: #ffffff; */
	margin-top: 30px;
}

.create_blog article textarea {
	font-family: 'Quicksand';
	outline: none;
	border: 0;
	resize: none;
	display: block;
	font-size: 17px;
	margin-top: 10px;
	width: 550px;
	/* background-color: #121113; */
}

.create_blog article textarea:focus {
	font-family: 'Quicksand';
	padding-top: 30px;
	padding-left: 30px;
	/* color: #e1e1e1; */
}

@media screen and (max-width: 546px) {
	.create_blog article textarea {
		width: 340px;
		height: 500px;
	}
}

.create_blog article .btn .arrow_back {
	font-family: 'Quicksand';
	margin-top: auto;
	padding: 12px;
	background-color: #3b3a3b;
	color: #ffffff;
	border-radius: 9px;
}

.create_blog article .btn .delete_button {
	background-color: rgb(238, 61, 99);
}

/* .create_blog article .btn .delete_icon {
	color: white;
} */

.create_blog article span {
	display: block;
	margin-top: 30px;
}

.create_blog article .btn button {
	font-family: 'Quicksand';
	cursor: pointer;
	padding: 14px;
	border-radius: 10px;
	background-color: #7433c9;
	border: none;
	color: whitesmoke;
	font-weight: bold;
	height: 10%;
	margin-top: auto;
}

.create_blog article .btn {
	display: flex;
	justify-content: space-between;
}

/* Loading INDEX */
.loader {
	--path: #2f3545;
	--dot: #5628ee;
	--duration: 3s;
	width: 44px;
	height: 44px;
	position: relative;
}

.loader:before {
	content: '';
	width: 6px;
	height: 6px;
	border-radius: 50%;
	position: absolute;
	display: block;
	background: var(--dot);
	top: 37px;
	left: 19px;
	transform: translate(-18px, -18px);
	animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg {
	display: block;
	width: 100%;
	height: 100%;
}

.loader svg rect,
.loader svg polygon,
.loader svg circle {
	fill: none;
	stroke: var(--path);
	stroke-width: 10px;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.dark-mode .loader svg rect,
.dark-mode .loader svg polygon,
.dark-mode .loader svg circle {
	stroke: #ffffff;
}

.loader svg polygon {
	stroke-dasharray: 145 76 145 76;
	stroke-dashoffset: 0;
	animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg rect {
	stroke-dasharray: 192 64 192 64;
	stroke-dashoffset: 0;
	animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg circle {
	stroke-dasharray: 150 50 150 50;
	stroke-dashoffset: 75;
	animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader.triangle {
	width: 48px;
}

.loader.triangle:before {
	left: 21px;
	transform: translate(-10px, -18px);
	animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@keyframes pathTriangle {
	33% {
		stroke-dashoffset: 74;
	}

	66% {
		stroke-dashoffset: 147;
	}

	100% {
		stroke-dashoffset: 221;
	}
}

@keyframes dotTriangle {
	33% {
		transform: translate(0, 0);
	}

	66% {
		transform: translate(10px, -18px);
	}

	100% {
		transform: translate(-10px, -18px);
	}
}

@keyframes pathRect {
	25% {
		stroke-dashoffset: 64;
	}

	50% {
		stroke-dashoffset: 128;
	}

	75% {
		stroke-dashoffset: 192;
	}

	100% {
		stroke-dashoffset: 256;
	}
}

@keyframes dotRect {
	25% {
		transform: translate(0, 0);
	}

	50% {
		transform: translate(18px, -18px);
	}

	75% {
		transform: translate(0, -36px);
	}

	100% {
		transform: translate(-18px, -18px);
	}
}

@keyframes pathCircle {
	25% {
		stroke-dashoffset: 125;
	}

	50% {
		stroke-dashoffset: 175;
	}

	75% {
		stroke-dashoffset: 225;
	}

	100% {
		stroke-dashoffset: 275;
	}
}

.loader {
	display: inline-block;
	margin: 0 16px;
}

/* Toggle dark mode */
.header {
	color: #121113;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* .header .save_dark_mode {
	font-family: poppins;
	background-color: #e1e1e1;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
	transition: .3s;
} */
@media screen and (min-width: 467px) {
	.header .switch {
		margin-left: 35%;
	}
}
@media screen and (min-width: 662px) {
	.header .switch {
		margin-left: 50%;
	}
}
@media screen and (min-width: 1200px) {
	.header .switch {
		margin-left: 65%;
	}
}
/* .header .save_dark_mode:hover {
	opacity: 1;
	background-color: #fef68a;
	cursor: pointer;
} */

.dark-mode {
	background-color: black;
}

.dark-mode h1, .dark-mode h3 {
	color: white;
}

/* The switch - the box around the slider */
.switch {
	font-size: 17px;
	position: relative;
	display: inline-block;
	width: 64px;
	height: 34px;
  }
  
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #73C0FC;
	transition: .4s;
	border-radius: 30px;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 30px;
	width: 30px;
	border-radius: 20px;
	left: 2px;
	bottom: 2px;
	z-index: 2;
	background-color: #e8e8e8;
	transition: .4s;
  }
  
  .sun svg {
	position: absolute;
	top: 6px;
	left: 36px;
	z-index: 1;
	width: 24px;
	height: 24px;
  }
  
  .moon svg {
	fill: #73C0FC;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;
	width: 24px;
	height: 24px;
  }
  
  /* .switch:hover */.sun svg {
	animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
	0% {
	  transform: rotate(0);
	}
  
	100% {
	  transform: rotate(360deg);
	}
  }
  
  /* .switch:hover */.moon svg {
	animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
	0% {
	  transform: rotate(0deg);
	}
  
	25% {
	  transform: rotate(-10deg);
	}
  
	75% {
	  transform: rotate(10deg);
	}
  
	100% {
	  transform: rotate(0deg);
	}
  }
  
  .input:checked + .slider {
	background-color: #183153;
  }
  
  .input:focus + .slider {
	box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
	transform: translateX(30px);
  }